#DadosPessoais
    background-color: white
    border-radius: 16px
    max-width: 620px
    height: 500px
    padding: 25px
    .title 
        width: 172px
        height: 20px
        font-family: Oscine
        font-size: 25px
        font-weight: bold
        font-style: normal
        font-stretch: normal
        line-height: 1.52
        letter-spacing: normal
        color: #324b68
    .v-menu
        z-index: 19
        position: relative
    .v-input__slot
        padding: 0
        margin: 0
        position: relative
        z-index: 0
    .v-text-field__details
        .v-messages__message
            color: red
    .v-text-field__slot
        border-bottom: 1px solid #000
    .quero-proteger
        max-width: 390px
        height: 48px
        margin: 0 auto
    .v-menu 
        .v-menu__content
            top: -25px !important
            left: 0px !important
            padding-top: 0px
            background-color: #1611ec
            position: absolute
            z-index: 99 !important
